
body {
	background-color: #FCEF93;
}

.jumbotron{

	font-family: 'Sancreek', cursive;
	text-align: center;
	font-size: 100%;
	background-image: url(../../assets/images/wildwest1.jpg);
}

.col-md-5{
	background-color: #CA7E2A;
	border-style: dashed;
	border-color: black;
	font-size: 30px;
	font-family:'Walter Turncoat', cursive;
}

#wordGuess{
	height: 296px;
}